$primary-font:'Franklin Gothic Medium',
'Arial Narrow',
Arial,
sans-serif;
$secondry-font:arial;
body {
    font-family: $primary-font;
    h1 {
        font-family: $secondry-font;
    }
}

nav {
    background-color: black;
    ul {
        list-style-type: none;
        li {
            padding-left: 20px;
        }
    }
}

footer {
    background: red;
    .container {
        width: 80%;
        margin: 0 auto;
        .col-sm-4 {
            width: 25%;
            float: left;
            ul {
                list-style: none;
                li {
                    padding: 10px;
                }
            }
        }
    }
}
@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }
  
  button { @include border-radius(10px); }
  input, textarea { @include border-radius(5px); }
  
@import 'reset';